<h1> <%= @restaurant.name %> </h1>

<p> <%= "Address: #{@restaurant.address}" %> </p>
<p> <%= "Phone number: #{@restaurant.phone_number}" %> </p>
<p> <%=  "Category: #{@restaurant.category}" %> </p>

<ul>
  <% @reviews.each do |review|%>
  <li><%= "#{review.rating} -  #{review.content}"%></li>
  <% end %>
</ul>

<%= link_to "Add a rating", new_restaurant_review_path(@restaurant.id), class: "btn btn-primary" %>
<%= link_to "Get back to list", restaurants_path, class: "btn btn-primary" %>
